export(AddCounts)
export(aggregateDays2Weeks)
export(aggregateTime2Days)
export(autoCompoundModel)
export(autoARIMA)
export(AutoCorr)
export(CrossCorr)
export(Derivative)
export(DiffFilter)
export(EventCounts)
export(EventCountsPerTime)
export(EventDurationAndTimeDifference)
export(EventFiltering)
export(EventIndDuration)
export(EventIndTimeDifference)
export(EventTimeFilter)
export(FastFourierTransformation)
export(FilterSuccessiveInds)
export(FilterWeekdays)
export(FilterWeekends)
export(FilterHolidays)
export(FourierFilter)
export(GARCH)
export(GenerateRegularTS)
export(GeneralizedLinearModels4TS)
export(GrangerCausalityTest)
export(InterpolateOutliers)
export(KalmanFilter)
export(LagVector)
export(MovingAverage)
export(PartialAutoCorr)
export(PlotEventCounts)
export(PlotTimeSeries)
export(RelativeDifferenceTS)
export(setDiffTS)
export(SplitTime)
export(TSDistancesMatrix)
export(WaveletFilter)

import(ggplot2)
import(Rcpp)
 importFrom("stats", "acf", "ccf", "na.fail", "pacf", "plot.ts")
  importFrom("graphics", "axis", "grid", "mtext", "par", "plot",
             "points")
  importFrom("stats", "fft", "lm", "qqnorm")
  importFrom("utils", "head")
   importFrom("graphics", "rect")
   importFrom("stats", "end", "start")
   
     importFrom("graphics", "abline")
  importFrom("stats", "decompose", "simulate")
  importFrom("utils", "str")
  importFrom("stats", "predict")
   importMethodsFrom(rugarch, plot)
  