export(AddCounts)
export(CrossCorr)
export(AutoCorr)
export(PartialAutoCorr)
export(Derivative)
export(DiffFilter)
export(EventDurationAndTimeDifference)
export(EventFiltering)
export(EventIndTimeDifference)
export(EventIndDuration)
export(EventCounts)
export(EventCountsPerTime)
export(FastFourierTransformation)
export(FilterSuccessiveInds)
export(FourierFilter)
export(MovingAverage)
export(PlotEventCounts)
export(SplitTime)
export(TSDistancesMatrix)

export(WaveletFilter)
 importFrom("stats", "acf", "ccf", "na.fail", "pacf", "plot.ts")
  importFrom("graphics", "axis", "grid", "mtext", "par", "plot",
             "points")
  importFrom("stats", "fft", "lm", "qqnorm")
  importFrom("utils", "head")
   importFrom("graphics", "rect")